body { padding-top: 56px; }

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BACKGROUND */
.image{
  margin: 0;
  background-image: url("https://images.pexels.com/photos/373465/pexels-photo-373465.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  /* https://images.pexels.com/photos/2846814/pexels-photo-2846814.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" */
  position: absolute; 
  min-width: 100%; 
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 

}

/* LOGIN */

.login-container {
  width: 30% !important;
  padding-top: 20px;
}


/* SEARCH */

.color-nav{
  background-color: black;
}

.form-container{
  margin-left: 35%
}




/* CARD */
.card-margin-top{
  margin-top: 10px;
}